* {
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
  color: #555557;
  background-color: #f8f9fa;
}

h1 {
  text-align: center;
  font-size: 125px;
  color: white;
  margin-top: 0;
  background: none;
}

.container {
  position: relative;
  width: 100%;
  float: left;
}

.jumbotron {
  background-image: url(http://img10.deviantart.net/b812/i/2005/059/b/f/seattle_skyline_panorama_by_goletaal.jpg);
  z-index: 10;
  width: 100%;
  height: 225px;
  margin-left: -10px;
  margin-top: -10px;
  border-bottom: 10px solid;
  border-color: #f8f9fa;
}

.nav {
  display: inline-block;
  position: relative;
  text-align: center;
  z-index: 9;
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-bottom: 8px solid;
  border-color: #f8f9fa;
}

.nav-button {
  display: inline;
  border: 2px solid #d6d6d9;
  border-radius: 5px;
  background-color: #f8f9fa;
  font-size: 25px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  width: 100%;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 50px;
  padding-top: 15px;
  margin-top: 5%;
  border-top: 2px solid #747475;
}

.text {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 20px;
}

.gif-text {
  display: block;
  width: 50%;
  position: relative;
  float: left;
  line-height: 35px;
  font-size: 20px;
  margin-top: 5%;
  padding-top: 10%;
  text-align: right;
  font-size: 35px;
}

.goal-gif {
  display: block;
  width: 50%;
  position: relative;
  float: left;
  margin-left: 5%;
  max-width: 300px;
  margin-top: 5%;
}

#nav-bottom {
  margin-top: 60px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 70px;
  }
}
